<launch>
    <arg name="model" default="$(find realsense2_description)/urdf/test_d435_camera.urdf.xacro"/>

    <!-- robot description to load in rviz or gazebo -->
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

    <!-- push robot_description to factory and spawn robot in gazebo -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-z 1.0 -P -1.5708 -unpause -urdf -model robot -param robot_description" respawn="false" output="screen" />

    <include file="$(find calibration_gazebo)/launch/landmark.launch"/>
</launch>